<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Girl400.png</key>
            <dict>
                <key>frame</key>
                <string>{{3590,638},{400,633}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,633}}</string>
                <key>sourceSize</key>
                <string>{400,633}</string>
            </dict>
            <key>Headset400.png</key>
            <dict>
                <key>frame</key>
                <string>{{3590,2},{400,634}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,634}}</string>
                <key>sourceSize</key>
                <string>{400,634}</string>
            </dict>
            <key>thulpBoothBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>thulpBoothTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>thulpHoles.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>T-ipadhd.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ade060e16c5bffedc191f61f5144d373:1/1$</string>
            <key>textureFileName</key>
            <string>T-ipadhd.png</string>
        </dict>
    </dict>
</plist>
