<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Construction400.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2547},{400,634}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,634}}</string>
                <key>sourceSize</key>
                <string>{400,634}</string>
            </dict>
            <key>Construction400Face.png</key>
            <dict>
                <key>frame</key>
                <string>{{3590,1911},{400,634}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,634}}</string>
                <key>sourceSize</key>
                <string>{400,634}</string>
            </dict>
            <key>Girl400.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2052},{400,633}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,633}}</string>
                <key>sourceSize</key>
                <string>{400,633}</string>
            </dict>
            <key>Headset400.png</key>
            <dict>
                <key>frame</key>
                <string>{{3590,1275},{400,634}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,634}}</string>
                <key>sourceSize</key>
                <string>{400,634}</string>
            </dict>
            <key>Headset400Face.png</key>
            <dict>
                <key>frame</key>
                <string>{{3590,639},{400,634}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,634}}</string>
                <key>sourceSize</key>
                <string>{400,634}</string>
            </dict>
            <key>singer400face.png</key>
            <dict>
                <key>frame</key>
                <string>{{3590,2},{400,635}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,635}}</string>
                <key>sourceSize</key>
                <string>{400,635}</string>
            </dict>
            <key>thulpBoothBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>thulpBoothTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ThulpEm-ipadhd.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd907b734aca46c9c0163710e9b747cf:1/1$</string>
            <key>textureFileName</key>
            <string>ThulpEm-ipadhd.png</string>
        </dict>
    </dict>
</plist>
